[submodule "minsu3d"]
	path = minsu3d
	url = git@github.com:diliash/minsu3d.git
[submodule "Helper3D"]
	path = Helper3D
	url = git@github.com:diliash/Helper3D.git
[submodule "internal_pg"]
	path = internal_pg
	url = git@github.com:3dlg-hcvc/internal_pg.git
[submodule "Mask3D"]
	path = Mask3D
	url = git@github.com:3dlg-hcvc/Mask3D.git
[submodule "OC-cost"]
	path = OC-cost
	url = git@github.com:3dlg-hcvc/OC-cost.git
[submodule "pygltftoolkit"]
	path = pygltftoolkit
	url = git@github.com:3dlg-hcvc/pygltftoolkit.git
[submodule "MeshWalker"]
	path = MeshWalker
	url = git@github.com:diliash/MeshWalker.git
